{:deps     true
 :dev-http {8080 "public"}
 ;:jvm-opts ["-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=127.0.0.1:5006"]
 :builds   {:app
            {:target             :browser
             :output-dir         "public/.compiled"
             :asset-path         "/.compiled"
             :dev                {:js-options {; this is needed to instruct closure compiler to NOT remove unused names of anonymous functions
                                               ; this is preferred, we want to see all component names in React Devtools
                                               ; https://github.com/react-spring/react-three-fiber/issues/282
                                               :anon-fn-naming-policy :unmapped}
                                  :devtools   {; TODO: remove after https://github.com/thheller/shadow-cljs/issues/637
                                               :loader-mode :script
                                               :preloads    [rtf-examples.dev.preload]}}
             :module-loader      true
             :module-loader-init false
             :modules            {:main             {:entries [rtf-examples.index]
                                                     :init-fn rtf-examples.index/init!}
                                  :demo-box         {:entries    [rtf-examples.demos.box]
                                                     :depends-on #{:main}}
                                  :demo-refraction  {:entries    [rtf-examples.demos.refraction]
                                                     :depends-on #{:main}}
                                  :demo-font        {:entries    [rtf-examples.demos.font]
                                                     :depends-on #{:main}}
                                  :demo-mesh-line   {:entries    [rtf-examples.demos.mesh-line]
                                                     :depends-on #{:main}}
                                  :demo-montage     {:entries    [rtf-examples.demos.montage]
                                                     :depends-on #{:main}}
                                  :demo-svg-loader  {:entries    [rtf-examples.demos.svg-loader]
                                                     :depends-on #{:main}}
                                  :demo-physics     {:entries    [rtf-examples.demos.physics]
                                                     :depends-on #{:main}}
                                  :demo-gltf-planet {:entries    [rtf-examples.demos.gltf-planet]
                                                     :depends-on #{:main}}
                                  }}}}
