{:deps
 {org.clojure/clojure         {:mvn/version "RELEASE"}
  org.clojure/clojurescript   {:mvn/version "RELEASE"}

  ;cljs-bean                   {:mvn/version "1.5.0"}

  cljs-bean                   {:git/url "https://github.com/mfikes/cljs-bean.git"
                               :sha     "3ccb2cf75f0e0a28e2a1af904075c87bfdea78fb"}

  appliedscience/js-interop   {:git/url "https://github.com/appliedsciencestudio/js-interop.git"
                               :sha     "e6b5f0b84b736481269a62beb4ce70f99a30f9a0"}

  lilactown/helix             {:git/url "https://github.com/darwin/helix.git"
                               :sha     "2020508d53a06b2bd3d51038c08149963d8a9d34"}

  ;lilactown/helix {:local/root "vendor/helix"}

  ;lilactown/helix             {:mvn/version "0.0.6"}

  binaryage/react-three-fiber {:local/root ".."}
  binaryage/devtools          {:mvn/version "RELEASE"}

  ; ----

  thheller/shadow-cljs        {:mvn/version "RELEASE"}}

 :paths
 ["src/app"]

 :aliases
 {:vendor-helix  {:extra-deps {lilactown/helix {:local/root "vendor/helix"}}}

  :vendor-shadow {;:extra-deps {thheller/shadow-cljs {:local/root "vendor/shadow-cljs"}}
                  :extra-paths ["vendor/shadow-cljs/src/main"
                                "vendor/shadow-cljs/src/repl"]}

  :shadow-cljs   {:extra-deps {thheller/shadow-cljs {:mvn/version "RELEASE"}}
                  :main-opts  ["-m" "shadow.cljs.devtools.cli"]}}
 }

