{:deps
 {org.clojure/clojure         {:mvn/version "RELEASE"}
  org.clojure/clojurescript   {:mvn/version "RELEASE"}

  cljs-bean                   {:mvn/version "1.5.0"}
  appliedscience/js-interop   {:git/url "https://github.com/appliedsciencestudio/js-interop.git"
                               :sha     "e6b5f0b84b736481269a62beb4ce70f99a30f9a0"}

  uix.core                    {:git/url   "https://github.com/roman01la/uix.git"
                               :deps/root "core"
                               :sha       "27172a3a24e7ee099f6c7e2b137cf2965eb6538c"}
  uix.dom                     {:git/url   "https://github.com/roman01la/uix.git"
                               :deps/root "dom"
                               :sha       "27172a3a24e7ee099f6c7e2b137cf2965eb6538c"}

  binaryage/react-three-fiber {:local/root ".."}
  binaryage/devtools          {:mvn/version "RELEASE"}

  ; ----

  thheller/shadow-cljs        {:mvn/version "RELEASE"}
  }

 :paths
 ["src/app"
  "src/hacks"]}
