{:deps     true
 :dev-http {8080 "public"}
 ;:jvm-opts ["-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=127.0.0.1:5006"]
 :builds   {:app
            {:target        :browser
             :output-dir    "public/.compiled"
             :asset-path    "/.compiled"
             :dev           {:js-options {; this is needed to instruct closure compiler to NOT remove unused names of anonymous functions
                                          ; this is preferred, we want to see all component names in React Devtools
                                          ; https://github.com/react-spring/react-three-fiber/issues/282
                                          :anon-fn-naming-policy :unmapped}
                             :devtools   {; TODO: remove after https://github.com/thheller/shadow-cljs/issues/637
                                          :loader-mode :script
                                          :preloads    [react-three-fiber.examples.preload]}}
             :module-loader true
             :modules       {:main             {:entries [react-three-fiber.examples.index]
                                                :init-fn react-three-fiber.examples.index/main!}
                             :box-demo         {:entries    [react-three-fiber.examples.demos.box]
                                                :depends-on #{:main}}
                             :refraction-demo  {:entries    [react-three-fiber.examples.demos.refraction]
                                                :depends-on #{:main}}
                             :font-demo        {:entries    [react-three-fiber.examples.demos.font]
                                                :depends-on #{:main}}
                             :mesh-line-demo   {:entries    [react-three-fiber.examples.demos.mesh-line]
                                                :depends-on #{:main}}
                             :montage-demo     {:entries    [react-three-fiber.examples.demos.montage]
                                                :depends-on #{:main}}
                             :svg-loader-demo  {:entries    [react-three-fiber.examples.demos.svg-loader]
                                                :depends-on #{:main}}
                             :physics-demo     {:entries    [react-three-fiber.examples.demos.physics]
                                                :depends-on #{:main}}
                             :gltf-planet-demo {:entries    [react-three-fiber.examples.demos.gltf-planet]
                                                :depends-on #{:main}}
                             }}}}
